/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #114177;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: "logo.png";
}

/* Estilos del encabezado */
#top {
  text-align: center;
  font-size: 24px;
  background-color: #001022;
}

#logo {
  max-width: 100px;
}

#imglogo {
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.menu_horizontal {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
  padding: 0;
  margin: 0 10px;
}

.option-left{
  margin-right: 150px;
}

.option-right{
  margin-left: 150px;
}

.option:hover {
  background-color: white;
  border-radius: 20px;
}

.option:hover a {
  color: #001022;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}

/* Estilos del contenido principal */
#mid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra los cuadrados verticalmente */
  padding: 20px;
}

.welcome {
  background-color: #0f3968;
  color: white;
  margin: 20px 0; /* Ajuste del espacio entre los cuadrados */
  padding: 30px; /* Ajuste de la altura del cuadrado */
  width: 85%;
  border-radius: 10px;
  height: 250px; /* Ajuste de la altura */
  transition: transform 0.3s, background-color 0.3s; /* Transición suave */
}

.welcome:first-child {
  width: 80%;
  height: 200px; /* Ajuste de la altura del primer cuadrado */
}

/* Efectos al pasar el ratón sobre los cuadrados */
.welcome:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
  background-color: #093a5e; /* Cambia el color de fondo */
}

/* Estilos del pie de página */
#bottom {
  text-align: center;
  width: 100%;
  background-color: #001022;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
}

#bottom ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#bottom li {
  transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
  padding: 0 10px;
  text-align: center;
}

#bottom li:hover {
  background-color: white;
  border-radius: 20px;
}

#bottom li:hover a {
  color: #001022;
}

/* Estilos del botón */
button {
  background-color: #001022; /* Color azul de la página */
  color: white;
  border: none;
  padding: 12px 20px; /* Ajusta el tamaño del botón */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px; /* Añade espacio encima del botón */
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0f3968; /* Cambia el color al pasar el ratón sobre el botón */
}


