/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #114177;
}

/* Estilos del encabezado */
#top {
  text-align: center;
  margin: auto;
  font-size: 24px;
  height: 20%;
}

#logo {
  max-width: 100px;
}

#imglogo {
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.menu_horizontal {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #001022;
  align-items: center;
}

.option {
  display: inline;
  transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
  padding: 0;
  margin: 0;
}

.option:hover {
  background-color: white;
  border-radius: 20px;
}

.option:hover a {
  color: #001022;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}

/* Estilos del contenido principal */
#mid {
  height: 60%;
  text-align: center;
}

.registration-title {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form {
  width: 50%;
  height: 500px;
  margin: 0 auto;
}

.form-group {
  line-height: 30px;
}

.form-input {
  width: calc(100% - 40px);
  vertical-align: middle;
}

input[type="checkbox"] {
  margin-left: 20px;
  vertical-align: middle;
}

/* Estilos del pie de página */
#bottom {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 24px;
  height: 5%;
}

#bottom ul {
  background-color: #001022;
  height: 100%;
}

#bottom li {
  display: inline;
  transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
  padding: 0;
  text-align: center;
  margin: auto;
}

#bottom li:hover {
  background-color: white;
  border-radius: 20px;
}

#bottom li:hover a {
  color: #001022;
}

/* Estilos del botón */
button {
  background-color: #001022; /* Color azul de la página */
  color: white;
  border: none;
  padding: 12px 20px; /* Ajusta el tamaño del botón */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px; /* Añade espacio encima del botón */
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0f3968; /* Cambia el color al pasar el ratón sobre el botón */
}
